<ng-container [formGroup]="petForm">
    <div class="container">
        <div class="card border-dark mt-2">
            <div class="card-body">
                <h4 class="card-title font-weight-bold">Animal</h4>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <select class="btn btn-secondary dropdown-toggle" id="dropdownPetTypeButton"
                            formControlName="petType">
                            <option value="" selected>Escolha o tipo</option>
                            <option *ngFor="let t of petTypeList" [value]="t.id">{{t.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" class="form-control" id="inputPetName" formControlName="petName"
                            placeholder="Nome">
                    </div>
                    <div class="form-group col-md-2">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                id="inputPetAge" formControlName="petAge" placeholder="Idade">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-owner [events]="eventsSubject.asObservable()" formGroupName="owner"></app-owner>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-warning mr-2" (click)="clearForm()">Limpar</button>
            <button type="button" class="btn btn-primary" (click)="submitForm()">Salvar</button>
        </div>
        <app-table [events]="eventsSubjectTable.asObservable()"></app-table>
    </div>
</ng-container>